@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,600&family=Libre+Baskerville:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 20px auto;
  padding : 10px 14px;
  border: 4px solid navy;
  border-radius: 10px;
  width: 90%;
  min-height: 94vh;
  background: linear-gradient(45deg, navy, purple 60%);
}

.mini{
  display: grid;
  grid-template-columns: 3fr 1.4fr;
  gap: 2.5rem;
}

h1{
  font-family: 'Bree Serif', serif;
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
}

h3{
  font-family: 'Bree Serif', serif;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.Balance{
  max-width: 40%;
  padding: 5px 10px;
  margin: 22px 0px;
  border: 3px solid navy;
  border-radius: 10px;
  box-shadow: 5px 5px lightskyblue;
  background-color: white;
}

.Display{
  width: 32%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:1rem;
  margin-bottom: 22px;
}

.cr{
  font-size:20px;
  border: 3px solid darkgreen;
  border-radius: 10px;
  padding: 8px 12px;
  /* background-color: rgb(219, 245, 219); */
  box-shadow: 5px 5px lightgreen;
  background-color: white;
}

.dr{
  font-size:20px;
  border: 3px solid red;
  border-radius: 10px;
  padding: 8px 12px;
  /* background-color: rgb(252, 230, 234); */
  box-shadow: 5px 5px rgb(253, 156, 171);
  background-color: white;
}

.New{
  padding: 10px 20px;
  margin: 20px 0px;
  border: 3px solid navy;
  border-radius: 10px;
  width: 100%;
  box-shadow: 5px 5px lightskyblue;
  background-color: white;
}

#form{
  padding: 10px 20px 5px 0;
}

#form input[type='text'],input[type='date'],input[type='number']{
  display : block;
  width: 100%;
  height: 25px;
  padding: 0 5px;
  margin : 5px 0 10px 0;
  cursor: pointer;
}

#form input[type='submit']{
  margin-top: 10px ;
  padding: 5px 10px;
  cursor: pointer;
  font: 16px bold;
  letter-spacing: 1px;
}

.Transactions{
  padding: 10px 12px;
  margin: 15px 0px;
  border: 3px solid navy;
  border-radius: 10px;
  box-shadow: 5px 5px skyblue;
  background-color: white;
}

.Items{
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 2.8fr 0.2fr;
  padding: 10px 0;
}

.Items > div {
  display: flex;
}

.footer{
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 30px;
}


/* MEDIA QUERIES */

@media(max-width:768px){

  .container{
    width: 100%;
    margin: auto;
  }

  .mini{
    display: block;
  }
}

@media(max-width:570px){
  .cr,.dr,.Balance{
    font-size: 14px;
  }
  .New{
    font-size: 15px;
  }
  .Items{
    font-size: 13px;
  }
  .footer{
    font-size: 16px;
  }
}

@media(max-width:480px){
  h1{
    font-size: 26px;
  }
  .cr,.dr,.Balance{
    width: 100%;
    font-size: 14px;
  }
  .New{
    font-size: 13px;
  }
  .Items{
    font-size: 11px;
  }
}

@media(max-width:376px){
  .Balance{
    font-size: 13px;
  }
  .Items{
    font-size: 9.5px;
  }
}

@media(max-width:330px){
  .Balance{
    font-size: 10.5px;
  }
  .cr h3,.dr h3{
    font-size: 18px;
  }
}

@media(max-width:362px){
  .Items{
    font-size: 7.5px;
  }
}

@media(min-width:370px){
  .Transactions{
    padding: 10px 16px;
  }
}

@media(min-width:570px){
  .container{
    padding: 10px 20px;
  }
}